<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Carrusel Cards</title>
  <!-- Link Swiper's CSS -->
  <style>
    h1 {
      font-size: 20px;
      color: #50354e;
    }
    .pubLink{
      color: #50354e! important;
    }

    .container {
      width: 90%;
      background-color: #e0e0d1;
      padding: 10px 40px;
      margin-top: 4%; 
      position: relative;
      overflow: hidden;
      border-radius: 25px;
    }



    .container .swiper-container {
      width: 100%;
      height: 70%;
    }

    .container .swiper-slide {
      position: relative;
      text-align: center;
      font-size: 18px;
      background: #fff;
      border-radius: 15px;
      text-align: start;
      box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);

    }

    .swiper-button-next,
    .swiper-button-prev {
      color: #50354e !important;
    }

    .container .swiper-slide img {
      display: block;
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;



    }

    .container .swiper-slide .card-description {
      padding: 1rem 1rem;

    }

    .container .swiper-slide .card-title,
    .container .swiper-slide .card-text {
      margin-bottom: .5rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      /* Número de líneas máximo a mostrar */

    }

    .container .swiper-slide .card-link {
      text-align: center;

    }

    .container .swiper-slide .card-link a {
      text-decoration: none;
      color: #50354e;
    }

    .swiper-button-next {
      right: 26px;
    }

    .swiper-button-prev {
      left: 26px;
    }

    @media (max-width: 636px) {
      .container {
        margin-top: 10%;
      }

    }
    p {
      color: #dc6e00; 
    }
    .card-text{
      text-align:right;
    }
    /* .swipper-slide{
      width: 50%;
    } */
  </style>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body>
  <section >
    <div class="container" >
      <p class="texto-color1">Ultimas Publicaciones</p>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-container mySwiper">
        <div class="swiper-wrapper">
          <% data.forEach(function(data) { %>
            <div class="swiper-slide">
              <img src="<%= data.imgdir %>" alt="">
              <div class="card-description">
                <div class="card-title">
                  <!-- <h4>
                    <%= data.publication_name %>
                  </h4> -->
                  <a class="pubLink" href="/producto/<%= data.publication_id %>"><%= data.publication_name %></a> 
                </div>
                <div class="card-text">
                  <p>$<%= data.publication_price %>
                  </p>
                </div>
              </div>
            </div>
            <% }); %>
        </div>
      </div>
    </div>
  </section>


  <!-- Swiper JS -->

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>var swiper = new Swiper('.swiper-container', {
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      },
      slidesPerView: 1,
      spaceBetween: 10,
      // init: false,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },


      breakpoints: {
        620: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        680: {
          slidesPerView: 2,
          spaceBetween: 40,
        },
        920: {
          slidesPerView: 3,
          spaceBetween: 40,
        },
        1240: {
          slidesPerView: 4,
          spaceBetween: 50,
        },
      }
    });</script>
</body>

</html>